* {
    font: "JetBrains Mono 12";
    bg: #1a1b26cc;
    fg: #ffffff;
    accent: #f9a8d4;
    lavender: #bb9af7;
    
    background-color: transparent;
    text-color: @fg;
    margin: 0;
    padding: 0;
}

window {
    background-color: @bg;
    border: 3px;
    border-color: @accent;
    border-radius: 12px;
    width: 30%;
    background-image: url("~/Pictures/New Folder/ok.png", width);
    transparency: "real";
    background-color: transparent;
}

inputbar {
    children: [prompt, entry];
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 8px;
    margin: 0 0 10px 0;
}

prompt {
    text-color: @accent;
    padding: 0 10px 0 5px;
}

listview {
    lines: 8;
    columns: 1;
    fixed-height: false;
}

element {
    padding: 12px;
    border-radius: 12px;
}

element selected {
    background-color: @accent;
    text-color: #1a1b26;
}

mainbox {
    margin: 0px;
    spacing: 0px;
    background-color: rgba(0, 0, 0, 0.67);  
    padding: 30px;
    children: [ "inputbar", "listview" ];
}
